<h4>User Administration</h4>

<div class="row">
  <div class="complaint-container col s12 z-depth-2">
    <h5>Add a new user</h5>

      <%= form_tag('/investigator_admin') do |f| %>
        <%= label_tag 'email' %>
        <%= text_field_tag 'email' %>
        <%= submit_tag 'Save' %>
      <% end %>
      <br>
  </div>
</div>

<div class="row">
  <div class="complaint-container col s12 z-depth-2">
    <h5>Existing Users</h5>
    <ul class="collection">
      <% @investigators.each do |invest| %>
        <%= render partial: "investigator", locals: {investigator: invest}  %>
      <% end %>
    </ul>
  </div>
</div>
