<h4>User Administration</h4>

<h5>Add a new user</h5>
<%= form_tag('/new_investigators') do |f| %>
  <%= label_tag 'email' %>
  <%= text_field_tag 'email' %>
  <%= submit_tag 'Save' %>
<% end %>


<ul class="collection">
  <% @investigators.each do |invest| %>
    <%= render partial: "investigator", locals: {investigator: invest}  %>
  <% end %>
</ul>
