<h4 class="montserrat-header-bold">User Administration</h4>

<div class="row">
  <div class="complaint-container col s12 z-depth-2">
    <h5 class="montserrat-header">Add a new user</h5>

      <%= form_tag('/investigator_admin') do |f| %>
        <%= label_tag 'email' %>
        <%= text_field_tag 'email' %>
        <%= submit_tag 'Save' %>
      <% end %>
      <br>
  </div>
</div>

<div class="row">
  <div class="complaint-container col s12 z-depth-2">
    <h5 class="montserrat-header-bold">Existing Users</h5>
    <%if flash[:errors]%>
      <%flash[:errors].each do |error|%>
        <p class = "error"><%=error%></p>
      <%end%>
    <%end%>
    <ul class="collection">
      <% @investigators.each do |invest| %>
        <%= render partial: "investigator", locals: {investigator: invest}  %>
      <% end %>
    </ul>
  </div>
</div>
