%div.center-align

  %h2 Complaints

  %table.bordered.responsive-table.complaint-table
    %th
      Status
      = form_tag complaints_path, method: "get", class: "status-form" do
        = select_tag "filter[status]", options_for_select((["All"]).concat(Complaint.possible_statuses))
    %th
      Allegation Types
      = form_tag complaints_path, method: "get", class: "allegation-form" do
        = select_tag "filter[allegation]", options_for_select((["All"]).concat(AllegationType.all.map{|a| a.allegation_nature}))

    %th Description
    %th Complainant Name
    %th Complainant Phone
    %th Complainant Email
    %th Complaint Attachments
    -@complaints.each do |complaint|
      %tr{class: "table-row complaint-id-#{complaint.id} #{complaint.status} #{complaint.allegation_types_as_string}"}
        %td
          =button_to complaint.status, edit_complaint_path(id: complaint.id, complaint_key: complaint.key, status: complaint.status), method:'put', class: "btn disabled current-status status-button"
          -complaint.possible_other_statuses.each do |st|
            = button_to st, edit_complaint_path(id: complaint.id, complaint_key: complaint.key, status: st), method:'put', class: "btn status-button"
        %td= complaint.allegation_types_as_nice_string
        %td= link_to complaint.content_shortened, complaints_find_path(complaint_key: complaint.key)
        %td= complaint.user.name
        %td= complaint.user.phone
        %td= complaint.user.email
        -if complaint.media[0]
          %td
            -complaint.media.each do |url|
              %a{ :href => url, :title => "View attachment" }
                %strong
                  View attachment
        -else
          %td None