%div.center-align

  %h2 Complaints

  %table.bordered.responsive-table.complaint-table
    %th Allegation Types
    %th Description
    %th Complainant Name
    %th Complainant Phone
    %th Complainant Email
    %th Complaint Attachments
    -@complaints.each do |complaint|
      %tr
        %td= complaint.allegation_types_as_nice_string || ""
        %td= link_to complaint.content_shortened, complaints_find_path(complaint_key: complaint.key)
        %td= complaint.user.name
        %td= complaint.user.phone
        %td= complaint.user.email
        -if complaint.media[0]
          %td
            -complaint.media.each do |url|
              %a{ :href => url, :title => "View attachment" }
                %strong
                  Linky Link
        -else
          %td None