%div.complaint-container
  %div.center-align
    %h2.montserrat-header Complaints
  %table.bordered.responsive-table.complaint-table
    %th
      = form_tag complaints_path, method: "get", class: "status-form" do
        = select_tag "filter[status]", options_for_select(Complaint.possible_statuses.concat(["All"])), class: "filter-menu"
    -@complaints.each do |complaint|
      -if complaint.has_unviewed_messages
        = render 'unviewed_index', complaint: complaint
      -else
        = render 'index_view',complaint: complaint
  %div.pagination
    = paginate @complaints
