%div.row
  %div.complaint-container.col.s12.z-depth-2
    %h5.montserrat-header-bold Submit a Tip/Complaint:
    %p.fine-print To submit a tip or complaint to Project Six you can complete the form below, email a tip to tips@thesecretsix.com or call (888) 366-2569. All information submitted to Project Six is treated with care and processed in a safe and secure environment. Names and phone numbers are not necessary but are preferred. We will not share any details or identifying information about tip providers with anyone else without your permission or what is required by law.
    = form_for @complaint, url: "/complaints", role: "form", class: "col s12" do |f|
      %div.row
        %div.input-field.col.s12
          = f.text_area :content, class: "materialize-textarea flow-text", placeholder: "Description of complaint", id: "textarea1"
          %br

      / %div.row
      /   =f.fields_for :allegation_types do |field|
      /     - @allegations_list.each do |type|
      /       - if type.id % 5 == 0
      /         %div.row
      /       %div.col.s3
      /         = field.check_box type.id
      /         = field.label type.id
      /         = type.allegation_nature

      %div.row
        %div.input-field.col.s12
          %p.montserrat-header Contact Info (Optional)
          = f.fields_for :user do |field|
            = field.text_field :name, placeholder: "Name"
            %br
            = field.text_field :phone, placeholder: "Phone", type: "tel"
            %br
            = field.text_field :email, placeholder: "E-Mail"
            %br
      %div.row
        %div.input-field.file-field.col.s12
          %div.btn
            %span Add Files
            =f.file_field :media, multiple: true
          %div.file-path-wrapper
            =f.text_field :media_cache, class: "file-path validate"
      %div.row.add-video-link
        %div.input-field.file-field.col.s12
          %div.video-links
            %input{placeholder: "Link to YouTube or Vimeo", type: "text", name: "complaint[video_links][1]", id: "complaint_video_link_url"}
          %div.btn.video-btn
            %span Add Another Link
      %div.row
        %div.input-field.file-field.col.s12
          = f.submit "Submit", class: "btn"


%div.row
  %div.complaint-container.col.s12.z-depth-2
    %h5.montserrat-header-bold View an Existing Complaint:
    = form_tag '/complaints/find', method: "get" do
      %div.row
        %div.input-field.col.s12
          = text_field_tag 'complaint_key', nil, placeholder: 'Secret Complaint Key'
          = text_field_tag 'complaint_pin', nil, placeholder: 'Secret Complaint Pin'
          = submit_tag "View", class: "btn"

%div.row
  %div.complaint-container.col.s12.z-depth-2
    %h5.montserrat-header-bold View an Existing Complaint:
    = form_tag '/complaints', method: "get" do
      %div.row
        %div.input-field.col.s12
          = text_field_tag 'complaint_key', nil, placeholder: 'Secret Complaint Key'
          = submit_tag "View", class: "btn"