=# render partial: "/user_errors"
= form_for @complaint, url: "/complaints" do |f|

  %h2 Complaint
  = f.label :content
  %br
  = f.text_field :content
  %br

  =f.file_field :media, multiple: true


  %h4 Optional Contact Info
  = f.fields_for :user do |field|
    = field.label :name
    %br
    = field.text_field :name
    %br
    = field.label :phone
    %br
    = field.text_field :phone
    %br
    = field.label :email
    %br
    = field.text_field :email
    %br
  = f.submit "Submit"
