=# render partial: "/user_errors"
= form_for @complaint, url: "/complaints" do |f|

  %h2 Complaint
  = f.fields_for :complaint do |field|
    = field.label :content
    %br
    = field.text_field :content
    %br

  = f.fields_for :allegation_type do |field|
    = field.label :allegations
    %br
    = field.text_field :allegation_nature
    %br

  %h4 Optional Contact Info
  = f.fields_for :user do |field|
    = field.label :name
    %br
    = field.text_field :name
    %br
    = field.label :phone
    %br
    = field.text_field :phone
    %br
    = field.label :email
    %br
    = field.text_field :email
    %br
  = f.submit "Submit"
