%div.row
  %div.complaint-container.col.s12.z-depth-2
    %h5 Enter a New Complaint:
    = form_for @complaint, url: "/complaints", role: "form", class: "col s12" do |f|
      %div.row
        %div.input-field.col.s12
          = f.text_area :content, class: "materialize-textarea flow-text", placeholder: "Description of complaint", id: "textarea1"
          %br


      %div.row
        %div.input-field.col.s12
          %p Contact Info (Optional)
          = f.fields_for :user do |field|
            = field.text_field :name, placeholder: "Name"
            %br
            = field.text_field :phone, placeholder: "Phone", type: "tel"
            %br
            = field.text_field :email, placeholder: "E-Mail"
            %br
      %div.row
        %div.input-field.file-field.col.s12
          %div.btn
            %span Add Files
            =f.file_field :media, multiple: true
          %div.file-path-wrapper
            =f.text_field :media_cache, class: "file-path validate"
      %div.row
        %div.input-field.file-field.col.s12
          = f.submit "Submit", class: "btn"


%div.row
  %div.complaint-container.col.s12.z-depth-2
    %h5 View an Existing Complaint:
    = form_tag '/complaints/find', method: "get" do
      %div.row
        %div.input-field.col.s12
          = text_field_tag 'complaint_key', nil, placeholder: 'Secret Complaint Key'
          = submit_tag "View", class: "btn"
