<!DOCTYPE html>
<html>
<head>
  <title>Whistlblowr</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<div id="logo-wrapper">
  <%= image_tag("p6.logo.svg", class: "logo")  %>

  <div id="investigator_nav">
  <ul>
    <% if investigator_signed_in? %>
      <li><%= link_to "Index", complaints_path %></li>
      <li><%= link_to "Add User", new_investigator_registration_path %></li>
      <li><%= link_to "Logout", destroy_investigator_session_path, method: :delete %></li>
    <% else %>
      <li><%= link_to "Login", new_investigator_session_path %></li>
      <li><%= link_to "Register", new_investigator_registration_path %></li>
    <% end %>
  </ul>
</div>

</div>


<body>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<div class="container">

  <% if @errors %>
      <div class="row">
        <div class="error-msgs push-s3 col s6 z-depth-2">
    <% @errors.each do |error| %>
        <div class="error"><%= error %></div>
    <% end %>
      </div>
    </div>
  <% end %>

  	<%= yield %>
  </div>
</body>
</html>
