<!DOCTYPE html>
<html>
<head>
  <title>Whistlblowr</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application'%>
</head>




<nav>
  <div class="nav-wrapper">

    <a href=<%= root_path %> class="brand-logo logo-align">
      <%= image_tag("p6.logo.svg") %>
    </a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
    <% if investigator_signed_in? %>
      <li><%= current_investigator.email %></li>
      <li><%= link_to "Complaints", complaints_path %></li>
      <li><%= link_to "Admin", investigator_admin_path %></li>
      <li><%= link_to "Logout", destroy_investigator_session_path, method: :delete %></li>
    <% else %>
      <li><%= link_to "Employee Login", new_investigator_session_path %></li>
    <% end %>
    </ul>
  </div>
</nav>


<body>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<div class="container">

  <% if @errors %>
      <div class="row">
        <div class="error-msgs push-s3 col s6 z-depth-2">
    <% @errors.each do |error| %>
        <div class="error"><%= error %></div>
    <% end %>
      </div>
    </div>
  <% end %>

  	<%= yield %>
  </div>
</body>
</html>
